<link rel="stylesheet" href="/stylesheets/styleNovedades.css" />

<div class="contenedor_Form">
  <div class="row">
    <div class="col-6 offset-3">
      <h4 style="padding-top: 10px;">Agregar una nueva noticia</h4>
      {{#if error}}
        <p class="errorP">{{message}}</p>
      {{/if}}
      <form
        action="/admin/novedades/agregar"
        method="post"
        enctype="multipart/form-data"
      >
        <div class="mb-3 row">
          <input
            type="text"
            class="form-control"
            placeholder="Título"
            name="titulo"
          />
        </div>
        <div class="mb-3 row">
          <textarea
            type="text"
            class="form-control subtitulo"
            placeholder="Subtítulo"
            name="subtitulo"
          ></textarea>
        </div>
        <div class="mb-3 row">
          <textarea
            type="text"
            class="form-control cuerpo"
            placeholder="Cuerpo"
            name="cuerpo"
          ></textarea>
        </div>
        <div class="mb-3 row">
          <label>Imagen:
            <input
              type="file"
              class="form-control"
              name="imagen"
              id="imagen"
            /></label>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="boton">Guardar</button>
        </div>
      </form>

    </div>
  </div>
</div>