<link rel="stylesheet" href="/stylesheets/styleForm.css" />

<div class="contenedor_login">

  <form action="/admin/login" method="post">
    <div class="mb-3 row">
      <div class="campo">
        <input
          type="text"
          class="form-control"
          id="inputUser"
          placeholder="Usuario"
          name="usuario"
        />
      </div>
    </div>
    <div class="mb-3 row">
      <div class="campo">
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          placeholder="Contraseña"
          name="password"
        />
      </div>
    </div>
    <button type="submit" class="boton_ingresar">Ingresar</button>
  </form>

  {{#if error}}
    <p>Usuario y/o contraseña incorrectos</p>
  {{/if}}

</div>