<link rel="stylesheet" href="/stylesheets/styleNovedades" />

<div class="holder">
  <div class="fila">
    <p>Hola {{persona}}</p>
    <a class="boton_cerrar" href="/admin/login/logout">Cerrar sesión
      <i class="fa-solid fa-right-from-bracket"></i></a>
  </div>
</div>