.fila {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.fila p {
  font-size: 15px;
  margin-right: 7px;
  font-weight: bold;
  margin-top: 20px;
}

.boton {
  display: flex;
  text-decoration: none;
  background-color:#f2e9f8;
  color: #66447a;
  border: solid #66447a 1px;
  font-size: 14px;
  padding: 7px;
  border-radius: 5px;
  width: 125px;
  justify-content: space-evenly;
  align-items: center;
}

.boton:hover {
  background-color: #66447a;
  color: white;;
  font-weight: bolder;
  
}

h3{
  color: black;
  font-style: italic;
}

a{
  margin: 1px;
}

.subtitulo{
  height: 120px;
}
.cuerpo{
  height: 250px;
}

label{
  font-size: large;
  font-weight: bolder;
  padding: 5px;
}

